parameters:
    level: 9
    paths:
        - src
        - test
    treatPhpDocTypesAsCertain: false
    #exceptions:
    #    implicitThrows: false
    #    check:
    #        missingCheckedExceptionInThrows: true
    #        tooWideThrowType: true
